<section>
  <div class="px-4 mb-8">
    <h2 class="text-lg leading-6 font-medium text-gray-900"><%= plan.display_name %></h2>
    <p class="mt-4">
      <span class="text-4xl font-extrabold text-gray-900"><%= number_to_currency(plan.current_price, unit: plan.symbol, precision: 0) %></span>
      <span class="text-base font-medium text-gray-500">/mo</span>
    </p>
    <p class="mt-4 text-sm text-gray-500"><%= plan.description %></p>
    <%= render partial: "billing/subscriptions/buy_button", locals: { plan: plan, class_name: "mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 cursor-pointer" } %>
  </div>

  <table class="w-full">
    <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
      Features
    </caption>
    <thead>
      <tr>
        <th class="sr-only" scope="col">Feature</th>
        <th class="sr-only" scope="col">Included</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr class="border-t border-gray-200">
        <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">AI features</th>
        <td class="py-5 pr-4">
          <!-- Heroicon name: solid/check -->
          <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Yes</span>
        </td>
      </tr>

      <tr class="border-t border-gray-200">
        <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Custom domains</th>
        <td class="py-5 pr-4">
          <!-- Heroicon name: solid/check -->
          <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Yes</span>
        </td>
      </tr>

      <tr class="border-t border-gray-200">
        <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Team members</th>
        <td class="py-5 pr-4">
          <% if plan.available_seats > 1 %>
            <span class="block text-sm text-right text-gray-700">
              Up to <%= plan.available_seats %> users
            </span>
          <% else %>
            <!-- Heroicon name: solid/minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Not included in plan</span>
          <% end %>
        </td>
      </tr>

      <tr class="border-t border-gray-200">
        <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Message limit</th>
        <td class="py-5 pr-4">
          <span class="block text-sm text-right text-gray-700">
            <%= number_with_delimiter plan.messages_limit %> /mo
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="w-full">
    <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
      Support
    </caption>
    <thead>
      <tr>
        <th class="sr-only" scope="col">Feature</th>
        <th class="sr-only" scope="col">Included</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr class="border-t border-gray-200">
        <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Premium support</th>
        <td class="py-5 pr-4">
          <% if plan.premium_support %>
            <!-- Heroicon name: solid/check -->
            <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          <% else %>
            <!-- Heroicon name: solid/minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
