<%= form_with(model: @team, class: "styled-form", data: { turbo: false }) do |f| %>
  <%= render "shared/form_errors", object: f.object %>
  <div class="mb-5">
    <%= f.label :name, t(".organisation_name") %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-5">
    <%= f.label :country_code %>
    <%= f.country_select :country_code, {}, class: "w-full" %>
  </div>
  <div class="mb-5">
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, nil, {}, class: "w-full" %>
  </div>
  <% if @team.new_record? %>
    <% if session[:signup_plan].present? %>
      <%= f.hidden_field :plan, value: session[:signup_plan] %>
    <% else%>
      <div class="mb-5">
        <%= f.label :plan %>
        <%= f.select :plan, options_for_select(BillingPlan.all.map(&:select_option)), {}, class: "w-full" %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit button_text, class: "mb-2 button -primary -lg w-full" %>
<% end %>
