<%= form_with(model: model, class: "styled-form", data: { controller: "message-composer" }) do |f| %>
  <%= f.rich_text_area :content %>

  <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4">
    <% if current_team.verified? && !current_team.messages_limit_reached? %>
      <%= f.submit t(".button"), class: "button -primary sm:mr-3" %>
    <% else %>
      <button type="button" class="button -primary opacity-25 cursor-not-allowed sm:mr-3" disabled>
        <%= t(".button") %>
      </button>
    <% end %>

    <div class="mt-3 sm:mt-0 flex flex-col sm:flex-row sm:items-center">
      <span class="text-sm font-medium mr-3"><%= t(".send_from") %></span>
      <%= f.select :from_address, options_for_select(current_team.emails_to_send_from) %>
    </div>
  </div>

  <% if @canned_responses.any? %>
    <div class="mt-6">
      <span class="block text-gray-600 font-semibold mb-2"><%= t(".canned_responses") %></span>
      <div class="flex flex-wrap">
        <% @canned_responses.each do |canned| %>
          <%= tag.button canned.label, type: "button", data: { html: canned.content.to_s, action: "click->message-composer#snippet" }, class: "mr-4 mb-2 text-sm hover:underline text-gray-500 hover:text-gray-600" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless current_team.verified? %>
    <%= render "shared/pending_verification" %>
  <% end %>
  <% if current_team.messages_limit_reached? %>
    <%= render "shared/messages_limit_reached" %>
  <% end %>
<% end %>
