<%= form_with(model: model, class: "styled-form") do |f| %>
  <%= f.rich_text_area :content %>

  <div class="flex items-center justify-between mt-4">
    <%= f.submit t(".button"), class: "button -primary mr-3" %>

    <div class="flex items-center">
      <span class="text-sm font-medium mr-3"><%= t(".send_from") %></span>
      <%= f.select :from_address, options_for_select(current_team.emails_to_send_from) %>
    </div>
  </div>
<% end %>
