<div class="mb-12 lg:mb-16" id="<%= dom_id(message) %>">
  <div class="p-6 rounded-2xl overflow-x-auto <%= message.customer? ? "bg-white border-2 border-gray-20" : "bg-gray-50" %>">
    <div class="prose">
      <%= message.content %>
    </div>
  </div>
  <div class="mt-2 mx-3 flex items-center justify-between relative">
    <div class="flex items-center">
      <%= avatar_tag message.sender, size: 26, extra_class: "flex-shrink-0" %>
      <span class="px-3 font-medium text-gray-800 <%= "bg-white" if message.customer? %>">
        <%= message.sender.name.familiar %>
      </span>
    </div>
    <span
      class="flex items-center text-sm font-medium capitalize text-gray-400" title="<%= message.status %>"
      data-controller="hovercard"
      data-hovercard-url-value="<%= hovercard_message_thread_message_path(message.message_thread, message) %>"
      data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
      <%= render MessageStatusIconComponent.new(message: message) %>
      <%= datetime message.created_at %>
    </span>
  </div>
</div>
