<div class="my-8">
  <div class="p-6 rounded-2xl <%= message.customer? ? "bg-white border-2 border-gray-20" : "bg-gray-50" %>">
    <%= message.content %>
  </div>
  <div class="mt-2 mx-3 flex items-center justify-between">
    <div class="flex items-center">
      <%= avatar_tag message.sender, size: 26, extra_class: "flex-shrink-0" %>
      <span class="px-3 font-medium text-gray-800 <%= "bg-white" if message.customer? %>">
        <%= message.sender.name.familiar %>
      </span>
    </div>
    <span class="text-sm font-medium capitalize">
    <%= message.status %>
    </span>
  </div>
</div>
