<div class="mb-12 lg:mb-16" id="<%= dom_id(message) %>">
  <div class="p-6 rounded-2xl overflow-x-auto <%= message.internal? ? "bg-yellow-50 border-2 border-yellow-100" : message.customer? ? "bg-white border-2 border-gray-20" : "bg-gray-50" %>">
    <% if message.internal? %>
      <div class="flex items-center gap-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 text-yellow-600">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
        </svg>
        <span class="text-sm font-medium text-yellow-800">Internal Note</span>
      </div>
    <% end %>
    <div class="prose">
      <%= message.content %>
    </div>

    <% unless message.internal? %>
      <div class="flex justify-end items-center space-x-4 md:space-x-6 mt-6">
        <%= button_to message_thread_message_spam_check_path(message.message_thread, message), method: :post, class: "text-sm text-gray-600 hover:underline inline-flex items-center", form: { class: "flex items-center" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 mr-1.5">
            <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
          </svg>
          <%= t(".spam_check_button") %>
        <% end %>

        <% if message.ai_context.present? %>
          <%= link_to context_message_thread_message_path(message.message_thread, message), data: { turbo_frame: "modal" }, class: "text-sm text-gray-600 hover:underline inline-flex items-center", form: { class: "flex items-center" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 mr-1.5">
              <path d="M11.983 1.907a.75.75 0 0 0-1.292-.657l-8.5 9.5A.75.75 0 0 0 2.75 12h6.572l-1.305 6.093a.75.75 0 0 0 1.292.657l8.5-9.5A.75.75 0 0 0 17.25 8h-6.572l1.305-6.093Z" />
            </svg>
            <%= t(".ai_context_button") %>
          <% end %>
        <% end %>

        <%= link_to raw_source_message_thread_message_path(message.message_thread, message), target: :_blank, class: "text-sm text-gray-600 hover:underline inline-flex items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 mr-1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          <%= t(".raw_source_button") %>
        <% end %>

        <% if message.original_html.present? %>
          <%= link_to original_html_message_thread_message_path(message.message_thread, message), target: :_blank, class: "text-sm text-gray-600 hover:underline inline-flex items-center" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 mr-1.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
            </svg>
            <%= t(".original_html_button") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mt-2 mx-3 flex items-center justify-between relative">
    <div class="flex items-center">
      <%= avatar_tag message.sender, size: 26, extra_class: "flex-shrink-0" unless message.ai? %>
      <span class="px-3 font-medium text-gray-800 <%= "bg-white" if message.customer? %>">
        <%= message.ai? ? "AI agent" : message.sender.name.familiar %>
      </span>
    </div>
    <span
      class="flex items-center text-sm font-medium capitalize text-gray-400" title="<%= message.status %>"
      data-controller="hovercard"
      data-hovercard-url-value="<%= hovercard_message_thread_message_path(message.message_thread, message) %>"
      data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
      <%= render MessageStatusIconComponent.new(message: message) unless message.internal? %>
      <%= datetime message.created_at %>
    </span>
  </div>
</div>
