<div data-hovercard-target="card" class="absolute mb-2 w-72 bottom-full right-0 bg-white overflow-hidden shadow rounded-lg px-6 py-4">
  <div class="grid grid-cols-2 gap-2">
    <span class="text-sm font-semibold text-gray-800"><%= t(".status") %></span>
    <div class="flex items-center">
      <%= render MessageStatusIconComponent.new(message: @message) %>
      <span class="flex-auto text-xs">
        <%= @message.status %>
      </span>
    </div>

    <% if @message.spam_score.present? %>
      <span class="text-sm font-semibold text-gray-800"><%= t(".spam_score") %></span>
      <span class="text-xs">
        <% case @message.spam_score %>
        <% when -Float::INFINITY...0 %>
        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-green-100 text-green-800 mr-1">
          <%= @message.spam_score %>
        </span>
        Really low
        <% when 0..5 %>
        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-green-100 text-green-800 mr-1">
          <%= @message.spam_score %>
        </span>
        Low
        <% when 5..10 %>
        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-yellow-100 text-yellow-800 mr-1">
          <%= @message.spam_score %>
        </span>
        Medium
        <% when 10..15 %>
        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-pink-100 text-pink-800 mr-1">
          <%= @message.spam_score %>
        </span>
        High
        <% else %>
        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-red-100 text-red-800 mr-1">
          <%= @message.spam_score %>
        </span>
        Very high
        <% end %>
      </span>
    <% end %>
  </div>
</div>
