<% meta title: t(".heading") %>

<%= tag.h2 t(".heading"), class: "mb-6 text-center text-xl font-bold text-gray-900" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "styled-form", data: { turbo: false } }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-6 flex items-center">
    <div class="mr-4 flex-shrink-0">
      <% if resource.avatar? %>
        <%= image_tag resource.avatar.variant(resize_to_fill: [120, 120]), width: 60, height: 60, class: "rounded-full" %>
      <% else %>
        <%= avatar_tag resource, size: 60 %>
      <% end %>
    </div>
    <div>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
  </div>

  <div class="mb-4">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <span class="hint"><%= t(".awaiting_confirmation", email: resource.unconfirmed_email) %></span>
    <% end %>
  </div>

  <div class="bg-gray-50 p-5 rounded-2xl my-6">
    <h3 class="font-semibold text-gray-800 mb-3 text-lg leading-snug">
      <%= t(".change_password") %>
      <small class="block mt-1 text-gray-600 font-normal">
        <%= t(".leave_blank_to_ignore") %>
      </small>
    </h3>
    <div class="mb-4">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <span class="hint"><%= t("signup.min_password_length", min: @minimum_password_length) %></span>
      <% end %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <h3 class="font-semibold text-gray-800 mb-3 text-lg leading-snug">
    <%= t(".confirm_changes") %>
  </h3>
  <div class="mb-4">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="mt-6 flex items-center">
    <%= f.submit t(".button"), class: "button -primary" %>
    <%= link_to t(".cancel_button"), :back, class: "ml-4 text-gray-500 font-medium" %>
  </div>
<% end %>
<% if false %>
<hr class="my-8" />

<div>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<% end %>
