<div class="sm:grid sm:grid-cols-2 sm:items-center py-8 lg:py-10">
  <div class="order-0 <%= "sm:col-start-2 sm:row-start-1" if align_right? %> flex flex-col items-center">
    <div class="max-w-md w-full bg-gray-50 rounded-3xl overflow-hidden shadow-md">
      <%= image %>
    </div>
  </div>
  <div class="order-1 mx-auto <%= "sm:col-start-1  sm:row-start-1" if align_right? %> max-w-md mt-6 sm:mt-0">
    <% if title.present? %>
      <h3 class="text-gray-900 font-semibold text-xl mb-2 lg:mb-3 lg:text-2xl"><%= title %></h3>
    <% end %>
    <%= text %>
  </div>
</div>
