<div class="flex items-center mb-8">
  <%= tag.h1 t(".new_heading"), class: "uppercase tracking-wider font-semibold text-gray-500 flex-auto" %>

  <%= link_to t(".add_new"), "#", class: "mr-3 flex-shrink-0 button -rounded" %>

  <%= form_with(url: "/", class: "styled-form") do |f| %>
    <%= f.search_field :query, placeholder: t(".search"), class: "rounded" %>
  <% end %>
</div>

<%= render @open_message_threads %>

<div class="bg-gray-50 p-5 lg:p-8 rounded-2xl mt-16">
  <%= tag.h2 t(".old_heading"), class: "uppercase tracking-wider font-semibold text-gray-500 mb-8" %>

  <%= render @previous_message_threads %>
</div>
