<% content_for(:container_padding, "nada") %>

<div class="p-5 sm:p-8 lg:p-10">
  <div class="flex items-center mb-8">
    <%= tag.h1 t(".new_heading"), class: "uppercase tracking-wider font-semibold text-gray-500 flex-auto" %>

    <%= link_to t(".add_new"), "#", class: "mr-3 flex-shrink-0 button -rounded" %>

    <%= form_with(url: "/", class: "styled-form") do |f| %>
      <%= f.search_field :query, placeholder: t(".search"), class: "rounded" %>
    <% end %>
  </div>

  <%= render @open_message_threads %>

  <% if @open_message_threads.empty? && @previous_message_threads.empty? %>
    <%= render(EmptyMessageComponent.new(title: t(".no_messages"), body: t(".getting_started_guide_html"))) %>
  <% elsif @open_message_threads.empty? %>
    <%= render(EmptyMessageComponent.new(title: t(".no_open_threads"), body: t(".no_open_threads_message"))) %>
  <% end %>
</div>

<% if @previous_message_threads.any? %>
<div class="bg-gray-50 rounded-b-3xl p-5 sm:p-8 lg:p-10">
  <%= tag.h2 t(".old_heading"), class: "uppercase tracking-wider font-semibold text-gray-500 mb-8" %>

  <%= render @previous_message_threads %>
</div>
<% end %>
