<% meta title: t(".page_title") %>
<% content_for(:container_padding, "nada") %>

<% if controller.action_name == "spam" %>
  <div class="flex justify-between items-center bg-yellow-50 border-b-2 border-yellow-100 text-yellow-900 p-4" role="alert">
    <div>
      <p class="font-bold">Viewing Spam Threads</p>
      <p>This page shows threads identified as potential spam.</p>
    </div>
    <%= link_to "Back to all threads", message_threads_path, class: "font-medium underline" %>
  </div>
<% end %>

<div class="p-5 sm:p-8 lg:p-10">
  <%= render partial: "message_threads/top_nav", locals: { heading: t(".new_heading") } %>

  <div data-controller="display-empty" data-display-empty-hide-class="hidden">
    <%= turbo_stream_from "team_#{current_team.id}_threads" %>
    <div id="open_message_threads" data-display-empty-target="list">
      <%= render @open_message_threads %>
    </div>

    <div data-display-empty-target="emptyMessage" class="<%= "hidden" unless @open_message_threads.empty? %>">
      <% if @open_message_threads.empty? && @previous_message_threads.empty? %>
        <%= render(EmptyMessageComponent.new(title: t(".no_messages"), body: t(".getting_started_guide_html"))) %>
      <% else %>
        <%= render(EmptyMessageComponent.new(title: t(".no_open_threads"), body: t(".no_open_threads_message"))) %>
      <% end %>
    </div>
  </div>
</div>

<% if @previous_message_threads.any? %>
<div class="bg-gray-50 rounded-b-3xl p-5 sm:p-8 lg:p-10">
  <%= tag.h2 t(".old_heading"), class: "uppercase tracking-wider font-semibold text-gray-500 mb-8" %>

  <%= render @previous_message_threads %>
</div>
<% end %>
