<% meta title: t(".heading") %>

<%= tag.h2 t(".heading"), class: "mb-6 text-center text-xl lg:text-2xl font-bold text-gray-900" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "styled-form", data: { turbo: false } }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="mb-4">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <span class="hint"><%= t("signup.min_password_length", min: @minimum_password_length) %></span>
    <% end %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="mt-6 mb-2">
    <%= f.submit t(".button"), class: "button -primary -lg w-full" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
