<%= tag.h2 t(".heading"), class: "mb-6 text-center text-xl font-bold text-gray-900" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "styled-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mt-4">
    <%= f.submit t(".button"), class: "button -primary w-full" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
