<% active_class = "bg-gray-100 text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md" %>
<% inactive_class = "text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md" %>
<nav class="hidden sm:block space-y-1 md:w-1/4 lg:w-64 mb-8 md:mb-0 flex-shrink-0" aria-label="Sidebar">
  <%= link_to settings_path, class: local_assigns[:page] == :general ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
    </svg>
    <span class="truncate">
      General
    </span>
  <% end %>

  <%= link_to emails_settings_path, class: local_assigns[:page] == :emails ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
    </svg>
    <span class="truncate">
      Email addresses
    </span>
  <% end %>

  <%= link_to team_settings_path, class: local_assigns[:page] == :team ? active_class : inactive_class do %>
    <svg class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
    </svg>
    <span class="truncate">
      Team
    </span>
  <% end %>

  <%= link_to canned_responses_settings_path, class: local_assigns[:page] == :canned_responses ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
    </svg>
    <span class="truncate">
      Canned responses
    </span>
  <% end %>

  <%= link_to widget_settings_path, class: local_assigns[:page] == :widget ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
    </svg>
    <span class="truncate">
      Widget
    </span>
  <% end %>


  <%= link_to blocked_domains_settings_path, class: local_assigns[:page] == :blocked_domains ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
    </svg>
    <span class="truncate">
      Blocked domains
    </span>
  <% end %>

  <%= link_to spam_settings_path, class: local_assigns[:page] == :spam ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
    </svg>
    <span class="truncate">
      Spam Settings
    </span>
  <% end %>

  <%= link_to billing_settings_path, class: local_assigns[:page] == :billing ? active_class : inactive_class do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
    </svg>
    <span class="truncate">
      Billing
    </span>
  <% end %>
</nav>

<nav class="mb-5 sm:hidden styled-form">
  <select class="w-full" data-controller="navigation-select" data-action="navigation-select#change">
    <%= content_tag(:option, "General", value: settings_path, selected: local_assigns[:page] == :general) %>
    <%= content_tag(:option, "Email addresses", value: emails_settings_path, selected: local_assigns[:page] == :emails) %>
    <%= content_tag(:option, "Team", value: team_settings_path, selected: local_assigns[:page] == :team) %>
    <%= content_tag(:option, "Canned responses", value: canned_responses_settings_path, selected: local_assigns[:page] == :canned_responses) %>
    <%= content_tag(:option, "Widget", value: widget_settings_path, selected: local_assigns[:page] == :widget) %>
    <%= content_tag(:option, "Blocked domains", value: blocked_domains_settings_path, selected: local_assigns[:page] == :blocked_domains) %>
    <%= content_tag(:option, "Spam Settings", value: spam_settings_path, selected: local_assigns[:page] == :spam) %>
    <%= content_tag(:option, "Billing", value: billing_settings_path, selected: local_assigns[:page] == :billing) %>
  </select>
</nav>
