<% meta title: t("settings.heading", team_name: current_team.name) %>

<%= tag.h2 t("settings.heading", team_name: current_team.name), class: "mb-6 text-left text-xl lg:text-2xl font-bold text-gray-900" %>

<div class="flex flex-col md:flex-row md:items-start md:justify-between">
  <%= render partial: "nav", locals: { page: :widget } %>

  <div class="w-full max-w-md mx-auto">
    <div class="bg-gray-50 rounded-2xl p-6 mb-6">
      <%= tag.h3 t(".heading"), class: "text-center text-lg font-bold text-gray-800 mb-3" %>

      <div class="flex">
        <%
          support_script = <<~SCRPT
            <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" type="text/javascript"></script>
            <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" type="text/javascript"></script>
            <script src="https://unpkg.com/happi-widget/dist/index.js" type="text/javascript"></script>
            <script type="text/javascript">
              Happi.init({
                publishableKey: "#{current_team.publishable_key}"
              })
            </script>
          SCRPT
        %>
        <%= text_area :widget_code, nil, value: support_script, rows: 8, disabled: true, class: "bg-white text-gray-700 border-2 border-gray-200 w-full rounded-md" %>
      </div>

      <p class="mt-3 text-sm text-center"><%= t(".install_instructions_html") %></p>
    </div>

    <div class="bg-gray-50 rounded-2xl p-6 mb-6">
      <%= tag.h3 t(".shared_secret"), class: "text-center text-lg font-bold text-gray-800 mb-3" %>

      <div class="flex">
        <%= text_field :shared_secret, nil, value: current_team.shared_secret, disabled: true, class: "bg-white text-gray-700 border-2 border-gray-200 w-full rounded-md" %>
      </div>

      <p class="mt-3 text-sm text-center"><%= t(".secret_instructions") %></p>
    </div>
  </div>
</div>

