<div class="flex items-center mb-8">
  <%= tag.h1 t(".heading"), class: "uppercase tracking-wider font-semibold text-gray-500 flex-auto" %>

  <%= link_to t(".add_new"), new_customer_path, class: "mr-3 flex-shrink-0 button -rounded" %>

  <%= form_with(url: "/", class: "styled-form") do |f| %>
    <%= f.search_field :query, placeholder: t(".search"), class: "rounded" %>
  <% end %>
</div>

<%= render partial: "customers/link", collection: @customers, as: :customer, locals: { class: "mb-4" } %>

<% if @customers.empty? %>
  <%= render(EmptyMessageComponent.new(title: t(".no_customers"), body: t(".getting_started_guide_html"))) %>
<% end %>
