<% meta title: @customer.name.familiar %>
<% content_for(:container_padding, "nada") %>

<div class="p-5 sm:p-8 lg:p-10">
  <div class="flex items-center justify-end">
    <%= link_to t(".edit"), edit_customer_path(@customer), class: "mr-3 flex-shrink-0 button -rounded" %>
  </div>

  <div class="flex flex-col items-center mt-4 md:-mt-10">
    <%= avatar_tag @customer, size: 100, extra_class: "" %>

    <%= tag.h1 @customer.name.full, class: "mt-4 mb-2 text-2xl lg:text-4xl font-semibold text-gray-900 w-full text-center" %>
    <div class="flex flex-wrap items-center justify-center">
      <span class="mx-3 my-1 flex items-center font-medium text-gray-500">
        <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
        </svg>
        <%= mail_to @customer.email %>
      </span>

      <% if @customer.company.present? %>
        <span class="mx-3 my-1 flex items-center font-medium text-gray-500">
          <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
          <%= @customer.company %>
        </span>
      <% end %>

      <% if @customer.phone.present? %>
        <span class="mx-3 my-1 flex items-center font-medium text-gray-500">
          <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
          <%= @customer.phone %>
        </span>
      <% end %>

      <% if @customer.location.present? %>
        <span class="mx-3 my-1 flex items-center font-medium text-gray-500">
          <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <%= @customer.location %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-gray-50 rounded-b-3xl p-5 sm:p-8 lg:p-10">
  <div class="flex items-center justify-between mb-8">
    <%= tag.h2 t(".threads"), class: "uppercase tracking-wider font-semibold text-gray-500" %>

    <%= link_to new_message_thread_path(customer_id: @customer.id), class: "button -primary -rounded", data: { "turbo-frame" => "modal" } do %>
      <%= t(".new_thread") %>
      <svg class="h-5 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
      </svg>
    <% end %>
  </div>

  <%= render @message_threads %>

  <% if @message_threads.empty? %>
    <%= render(EmptyMessageComponent.new(title: t(".no_threads"), body: t(".no_threads_message", name: @customer.name.first))) %>
  <% end %>
</div>
