<!-- Hero section -->
<!-- Hero card -->
<div class="px-4 bg-white">
  <div class="relative shadow-xl rounded-2xl lg:rounded-none overflow-hidden">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
      <div class="absolute inset-0 bg-purple-700 mix-blend-multiply"></div>
    </div>
    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
      <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl xl:text-7xl">
        <span class="leading-tight sm:block text-white">Simple customer support</span>
        <span class="leading-tight sm:block text-purple-200">for small teams.</span>
      </h1>
      <p class="mt-6 max-w-lg mx-auto text-center text-xl md:text-2xl text-purple-200 sm:max-w-3xl">
        Save time and engage with all your customer emails in a single app.
      </p>
      <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
        <div class="space-y-4 sm:mx-auto flex flex-col items-center">
          <%= link_to "Get started free", pricing_path, class: "flex items-center justify-center px-4 py-3 border border-transparent text-base md:text-lg lg:text-xl font-medium rounded-md shadow-sm text-purple-700 bg-white hover:bg-purple-50 sm:px-8" %>
          <span class="block opacity-80 text-white">No credit card required</span>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= image_tag "marketing/happi-dashboard.png", class: "w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5", alt: "Happi example dashboard" %>

<!-- Hero Features -->
<div class="max-w-7xl mx-auto py-16 px-4 bg-white sm:px-6 lg:px-8">
  <%= render FeatureBlockComponent.new(title: "Easy to use", align: :left) do |c| %>
    <%= c.image do %>
      <%= image_tag "marketing/features/easy.png", alt: "Happi is easy to use!" %>
    <% end %>
    <%= c.text do %>
      <p class="lg:text-lg">Happi is simple and feels like having a conversation over DMs. You’ll be up and running in minutes!</p>
    <% end %>
  <% end %>

  <%= render FeatureBlockComponent.new(title: "Less pressure than live chat", align: :right) do |c| %>
    <%= c.image do %>
      <%= image_tag "marketing/features/livechat.png", alt: "Live chat example" %>
    <% end %>
    <%= c.text do %>
      <p class="lg:text-lg">You don’t want to put unfair expectations on your small team. As soon as customers see live chat, they expect someone to be waiting on the other side to answer them, all the time!</p>
    <% end %>
  <% end %>

  <%= render FeatureBlockComponent.new(title: "Embed in your website", align: :left) do |c| %>
    <%= c.image do %>
      <%= image_tag "marketing/features/embed.png", alt: "Embed Happi into your website" %>
    <% end %>
    <%= c.text do %>
      <p class="lg:text-lg">You can use Happi’s support widget to embed directly into your website or app, making it even easier for your customers to get in touch.</p>
    <% end %>
  <% end %>

  <%= render FeatureBlockComponent.new(title: "All in one place", align: :right) do |c| %>
    <%= c.image do %>
      <%= image_tag "marketing/features/team.png", alt: "Happi allows multiple team members" %>
    <% end %>
    <%= c.text do %>
      <p class="lg:text-lg">Every conversation is stored in a single, secure app. Any member of your team can see the full history with customers and work together to provide exceptional support.</p>
    <% end %>
  <% end %>
</div>

<!-- Everything else -->
<div class="max-w-7xl mx-auto py-16 px-4 bg-white sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-3xl font-extrabold text-gray-900">Everything comes as standard.</h2>
    <p class="mt-4 text-lg text-gray-500">Happi was built for small teams just like yours, we don’t lock features behind expensive upgrades.</p>
  </div>
  <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Notifications</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Get instant notifications when customers send messages.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Attachments</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Happi accepts and lets you attach your own files to messages.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Customised templates</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Upload your logo and customise your email templates.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Custom domains</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Use your own (support@myapp.com) domain to send/receive messages from.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Canned responses</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Save time by scripting your common responses and click a button to instantly reply.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Support widget</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Easily embed this into your website/app for a slicker support experience.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Spam protection</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Configure thresholds for auto-detecting spam and easily block mallicious senders.
      </dd>
    </div>

    <div class="relative">
      <dt>
        <!-- Heroicon name: outline/check -->
        <svg class="absolute h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Hosted FAQs page</p>
      </dt>
      <dd class="mt-2 ml-9 text-base text-gray-500">
        Create a hosted knowledge base containing all your frequently asked questions. <em>Coming soon!</em>
      </dd>
    </div>
  </dl>
</div>

<!-- Testimonial/stats section -->
<!-- This example requires Tailwind CSS v2.0+ -->
<section class="mt-8 py-12 bg-gray-50 overflow-hidden md:py-20 lg:py-24">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative">
      <blockquote>
        <div class="max-w-3xl mx-auto text-center text-2xl leading-9 font-medium text-gray-900">
          <p>
            &ldquo;Happi is really slick! Works great on mobile and is a much nicer way of engaging with customers compared to the enterprise tool we were using before.&rdquo;
          </p>
        </div>
        <footer class="mt-8">
          <div class="md:flex md:items-center md:justify-center">
            <div class="md:flex-shrink-0">
              <%= image_tag "marketing/payhere-icon-blue.svg", alt: "Payhere payments", class: "mx-auto h-10 w-10" %>
            </div>
            <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
              <div class="text-base font-medium text-gray-900">Scott</div>

              <svg class="hidden md:block mx-1 h-5 w-5 text-blue-700" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11 0h3L9 20H6l5-20z" />
              </svg>

              <div class="text-base font-medium text-gray-500">Payhere</div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>

<!-- Pricing -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-purple-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl">
      <span class="block">Ready to give Happi a try?</span>
      <span class="block text-purple-600">You can get started for free.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Choose a plan", pricing_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-purple-500 hover:bg-purple-600" %>
      </div>
    </div>
  </div>
</div>

<% if false %>
<!-- CTA section -->
<div class="relative mt-24 sm:mt-32 sm:py-16">
  <div aria-hidden="true" class="hidden sm:block">
    <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50 rounded-r-3xl"></div>
    <svg class="absolute top-8 left-1/2 -ml-3" width="404" height="392" fill="none" viewBox="0 0 404 392">
      <defs>
        <pattern id="8228f071-bcee-4ec8-905a-2a059a2cc4fb" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="392" fill="url(#8228f071-bcee-4ec8-905a-2a059a2cc4fb)" />
    </svg>
  </div>
  <a name="join-beta"></a>
  <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="relative rounded-2xl px-6 py-10 bg-purple-500 overflow-hidden shadow-xl sm:px-12 sm:py-20">
      <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
        <svg class="absolute inset-0 h-full w-full" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360">
          <path class="text-purple-400 text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" />
          <path class="text-purple-600 text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" />
        </svg>
      </div>
      <div class="relative">
        <div class="sm:text-center">
          <h2 class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl">
            Create your account
          </h2>
          <p class="mt-6 mx-auto max-w-2xl text-lg text-purple-100">
            To help you get the most out of Happi, we are currently setting up accounts and custom emails for you.
            Add your email below and we will reach out real soon to set you up.
          </p>
        </div>
        <%= form_with(model: BetaSignup.new, class: "mt-12 sm:mx-auto sm:max-w-lg sm:flex") do |f| %>
          <div class="min-w-0 flex-1">
            <%= f.label :email, "Email address", class: "sr-only" %>
            <%= f.email_field :email, placeholder: "Email address", class: "block w-full border border-transparent rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-purple-500" %>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-3">
            <%= f.submit "Request account", class: "block w-full rounded-md border border-transparent px-5 py-3 bg-gray-900 text-base font-medium text-white shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-purple-500 sm:px-10" %>
          </div>
        <% end %>
        <p class="mt-3 md:mt-2 text-center text-sm text-white opacity-75">We care about the protection of your data. Read our <%= link_to "Privacy Policy", privacy_path, class: "underline", target: "_blank" %>.</p>
      </div>
    </div>
  </div>
</div>
<% end %>
