<% if @team.messages_limit_reached? %>
  <div class="warning-block">
    <strong>Warning!</strong> You have used all of your included messages this month &ndash; <%= link_to "more info", billing_settings_url %>.
  </div>
<% end %>

<h1><%= t ".heading", team: @team.name %></h1>

<h2><%= t ".subheading", subject: @thread.subject %></h2>

<p>
  <%= t(".received_message_html", name: @message.sender.name.full, email: @message.sender.email) %>
</p>

<div class="attributes_content">
  <%= @message.content %>
</div>

<p class="body-action"><%= link_to t(".button"), view_message_url(@message), class: "f-fallback button button--primary" %></p>

<%= render "shared/mailer_happi_sig" %>
