<%= form_with(model: BetaSignup.new, class: "mt-12 sm:max-w-lg sm:w-full sm:flex") do |f| %>
  <div class="min-w-0 flex-1">
    <%= f.label :email, "Email address", class: "sr-only" %>
    <%= f.email_field :email, placeholder: "Email address", class: "block w-full border border-gray-300 rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:border-purple-500 focus:ring-purple-500" %>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-3">
    <%= f.submit "Get started", class: "block w-full rounded-md border border-transparent px-5 py-3 bg-purple-500 text-base font-medium text-white shadow hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 sm:px-10" %>
  </div>
<% end %>
<p class="mt-3 md:mt-2 text-sm text-gray-400">We care about the protection of your data. Read our <%= link_to "Privacy Policy", privacy_path, class: "underline hover:text-gray-700", target: "_blank" %>.</p>
