<% meta title: t(".page_title") %>

<%= tag.h2 t(".heading"), class: "mb-1 text-center text-xl lg:text-2xl font-bold text-gray-900" %>

<%- if devise_mapping.registerable? %>
  <div class="mb-6 text-center">
    <%= t(".need_an_account_html", link: link_to(t(".sign_up"), new_registration_path(resource_name), class: "text-purple-600 underline hover:text-purple-800")) %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "styled-form", data: { turbo: false } }) do |f| %>
  <div class="mb-4">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-4">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="flex flex-wrap justify-between">
    <% if devise_mapping.rememberable? %>
      <div class="mb-2 form-checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <%- if devise_mapping.recoverable? %>
      <div class="mb-2">
        <%= link_to t(".forgot_password"), new_password_path(resource_name), class: "text-gray-400 underline hover:text-gray-600" %>
      </div>
    <% end %>
  </div>

  <div class="mt-4 mb-2 flex items-center">
    <%= f.submit t(".button"), class: "button -primary -lg w-full" %>
  </div>
<% end %>
