<%= tag.h2 t(".heading", team_name: @team.name), class: "mb-1 text-center text-xl lg:text-2xl font-bold text-gray-900" %>
<div class="mb-6 text-center">
  <%= t("devise.registrations.new.already_have_account_html", link: link_to(t("devise.registrations.new.log_in"), new_session_path(:user), class: "text-purple-600 underline hover:text-purple-800")) %>
</div>

<%= form_with(model: @invite, url: team_invites_path, method: :post, class: "styled-form") do |f| %>
  <div class="flex items-start">
    <div class="mb-4 w-1/2 mr-2">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="mb-4 w-1/2 ml-2">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="mb-4">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="mb-4">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "password-confirmation" %>
  </div>

  <div class="mt-6 flex items-center">
    <%= f.submit t(".button"), class: "button -primary -lg w-full" %>
  </div>
<% end %>
