<div class="mb-3" data-id="<%= team_user.id %>">
  <div class="mb-1 flex items-center">
    <span class="flex-grow text-sm">
      <strong><%= team_user.user.name.familiar %></strong> &ndash; <%= team_user.user.email %>
      <%= render(BadgeComponent.new(style: team_user.owner? ? :important : :normal)) do %>
        <%= team_user.role %>
      <% end %>
    </span>
    <%= link_to team_user_path(team_user), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "flex items-center flex-shrink-0 text-sm text-gray-500 hover:text-gray-800" do %>
      <%= t(".remove") %>
      <svg class="ml-1 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>

  <%= form_with(model: team_user, data: { controller: "auto-submit" }) do |f| %>
    <%= f.label :message_notifications do %>
      <div class="flex items-start">
        <%= f.check_box :message_notifications, data: { action: "change->auto-submit#submit" }, class: "mt-0.5 mr-3 focus:ring-indigo-500 h-4 w-4 text-purple-600 border-gray-300 rounded" %>
        <span class="font-normal text-gray-600 text-sm">
          Recieving email notifications for new messages
        </span>
      </div>
    <% end %>
  <% end %>
</div>
