<% active_link_class = "group flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-gray-100 rounded-md" %>
<% inactive_link_class = "group flex items-center px-3 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50" %>
<div class="mt-5 space-y-1">
  <h3 class="px-3 text-xs font-semibold text-gray-500 uppercase tracking-wider" id="projects-headline">
    General
  </h3>
  <div class="space-y-1" role="group" aria-labelledby="projects-headline">
    <%= link_to documentation_root_path, class: cp(documentation_root_path, exact: true) ? active_link_class : inactive_link_class do %>
      <span class="truncate">
        Getting started
      </span>
    <% end %>

    <%= link_to documentation_custom_email_address_path, class: cp(documentation_custom_email_address_path, exact: true) ? active_link_class : inactive_link_class do %>
      <span class="truncate">
        Custom email addresses
      </span>
    <% end %>

    <%= link_to documentation_forwarding_mail_path, class: cp(documentation_forwarding_mail_path, exact: true) ? active_link_class : inactive_link_class do %>
      <span class="truncate">
        Forwarding mail to Happi
      </span>
    <% end %>

    <% if current_user&.role?(:admin) %>
      <%= link_to documentation_contact_forms_path, class: cp(documentation_contact_forms_path, exact: true) ? active_link_class : inactive_link_class do %>
        <span class="truncate">
          Contact forms
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="mt-5 space-y-1">
  <h3 class="px-3 text-xs font-semibold text-gray-500 uppercase tracking-wider" id="projects-headline">
    Support Widget
  </h3>
  <div class="space-y-1" role="group" aria-labelledby="projects-headline">

    <%= link_to documentation_widget_installation_path, class: cp(documentation_widget_installation_path, exact: true) ? active_link_class : inactive_link_class do %>
      <span class="truncate">
        Installation
      </span>
    <% end %>

    <%= link_to documentation_widget_prefill_data_path, class: cp(documentation_widget_prefill_data_path, exact: true) ? active_link_class : inactive_link_class do %>
      <span class="truncate">
        Prefill user data
      </span>
    <% end %>

    <%= link_to documentation_widget_configuration_path, class: cp(documentation_widget_configuration_path, exact: true) ? active_link_class : inactive_link_class do %>
      <span class="truncate">
        Full configuration
      </span>
    <% end %>
  </div>
</div>
