<div class="max-w-7xl mx-auto py-6 px-4 bg-white sm:px-6 lg:px-8">
  <div class="flex justify-between">
    <div class="flex items-center">
      <%= link_to root_path do %>
        <span class="sr-only">Happi</span>
        <%= image_tag "logo.svg", alt: "Happi", class: "h-8 w-auto sm:h-10" %>
      <% end %>

      <nav class="flex ml-8 space-x-6">
        <%= link_to "Features", root_path, class: "font-medium text-lg text-gray-500 hover:text-gray-700" %>
        <%= link_to "Pricing", pricing_path, class: "font-medium text-lg text-gray-500 hover:text-gray-700" %>
      </nav>
    </div>

    <menu class="flex items-center space-x-6">
      <% if user_signed_in? %>
        <span>Hey <%= current_user.name.first %>!</span>
        <%= link_to dashboard_path, class: "whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white bg-purple-500 hover:bg-purple-600" do %>
          My account
        <% end %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "font-medium" %>
        <%= link_to new_user_registration_path, class: "whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white bg-purple-500 hover:bg-purple-600" do %>
          Sign up
        <% end %>
      <% end %>
    </menu>
  </div>
</div>
