<div class="relative max-w-7xl mx-auto py-6 px-4 bg-white sm:px-6 lg:px-8" data-controller="toggle">
  <div class="flex justify-between">
    <div class="flex items-center">
      <%= link_to root_path, class: "flex-shrink-0 -mb-2" do %>
        <span class="sr-only">Happi</span>
        <%= image_tag "logo.svg", alt: "Happi", class: "h-8 w-auto sm:h-10" %>
      <% end %>

      <nav class="hidden sm:flex ml-8 space-x-6">
        <%= link_to "Features", root_path, class: "font-medium text-lg text-gray-500 hover:text-gray-700" %>
        <%= link_to "Pricing", pricing_path, class: "font-medium text-lg text-gray-500 hover:text-gray-700" %>
        <% if feature_enabled?(:changelog) %>
          <%= link_to "Changelog", changelog_path, class: "font-medium text-lg text-gray-500 hover:text-gray-700" %>
        <% end %>
      </nav>
    </div>

    <menu class="hidden sm:flex items-center space-x-6">
      <% if user_signed_in? %>
        <span>Hey <%= current_user.name.first %>!</span>
        <%= link_to dashboard_path, class: "whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white bg-purple-500 hover:bg-purple-600" do %>
          My account
        <% end %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "font-medium" %>
        <%= link_to new_user_registration_path, class: "whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white bg-purple-500 hover:bg-purple-600" do %>
          Sign up
        <% end %>
      <% end %>
    </menu>

    <button class="sm:hidden p-2 cursor-pointer" data-action="toggle#toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <div class="absolute top-0 inset-x-0 p-2 z-50 transition transform origin-top-right hidden md:hidden" data-toggle-target="toggleable" data-css-class="hidden">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <%= image_tag "logo.svg", alt: "Happi", class: "h-8 w-auto" %>
          </div>
          <div class="-mr-2">
            <button type="button" data-action="toggle#toggle" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="py-6 px-5">
        <div class="grid grid-cols-2 gap-4">
          <%= link_to "Features", root_path, class: "font-medium text-base text-gray-500 hover:text-gray-700" %>
          <%= link_to "Pricing", pricing_path, class: "font-medium text-base text-gray-500 hover:text-gray-700" %>
          <% if feature_enabled?(:changelog) %>
            <%= link_to "Changelog", changelog_path, class: "font-medium text-base text-gray-500 hover:text-gray-700" %>
          <% end %>
          <%= link_to "Help center", documentation_root_path, class: "font-medium text-base text-gray-500 hover:text-gray-700" %>
        </div>
        <div class="mt-6">
          <% if user_signed_in? %>
            <%= link_to dashboard_path, class: "whitespace-nowrap w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-purple-500 hover:bg-purple-600" do %>
              My account
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path, class: "whitespace-nowrap w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-purple-500 hover:bg-purple-600" do %>
              Sign up
            <% end %>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
              Existing user?
              <%= link_to "Login", new_user_session_path, class: "font-medium text-purple-600 hover:text-purple-500" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
