<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/partials/head" %>
  </head>

  <body>
    <%= render "shared/flash_alerts" %>

    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 mx-auto">
      <div class="py-4 lg:py-8 flex justify-center items-center">
        <nav class="flex-1 flex items-center justify-start">
          <%= link_to t("nav.threads"), message_threads_path, class: "mr-2 xl:mr-3 py-2 px-4 rounded-full text-lg #{cp(message_threads_path) ? "text-gray-800 font-semibold bg-gray-100" : "text-gray-500 hover:bg-gray-100"}" %>
          <%= link_to t("nav.customers"), customers_path, class: "py-2 px-4 rounded-full text-lg #{cp(customers_path) ? "text-gray-800 font-semibold bg-gray-100" : "text-gray-500 hover:bg-gray-100"}" %>
        </nav>
        <%= link_to image_tag("logo.svg", alt: "Happi", class: "w-auto h-10"), message_threads_path, class: "flex-shrink-0" %>
        <nav class="relative flex-1 flex items-center justify-end" data-controller="toggle" data-toggle-click-outside="add">
          <button type="button" data-action="toggle#toggle" class="flex items-center">
            <span class="mr-3"><%= t("nav.hey", name: current_user.name.familiar) %></span>
            <%= avatar_tag current_user, size: 40 %>
          </button>

          <div data-toggle-target="toggleable" data-css-class="hidden" class="hidden origin-top-right absolute top-full right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100">
            <div class="px-4 py-3">
              <p class="text-sm">
                <%= t("nav.signed_in_as") %>
              </p>
              <p class="text-sm font-medium text-gray-900 truncate">
                <%= current_user.email %>
              </p>
            </div>
            <div class="px-4 py-3">
              <div class="text-sm font-medium flex items-center justify-between">
                <span class="text-gray-900 truncate flex-auto"><%= current_team.name %></span>
                <%= link_to t(".switch_team"), teams_path, class: "text-purple-500 underline flex-shrink-0" %>
              </div>
            </div>
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
              <%= link_to t("nav.edit_profile"), edit_user_registration_path, role: "menuitem", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" %>
              <%= link_to t("nav.settings"), settings_path, role: "menuitem", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" %>
            </div>
            <div class="py-1">
              <%= link_to t("nav.logout"), destroy_user_session_path, method: :delete, class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900", role: "menuitem", data: { turbo: false } %>
            </div>
          </div>
        </nav>
      </div>

      <div class="shadow-max rounded-3xl <%= content_for(:container_padding) ? content_for(:container_padding) : "p-5 sm:p-8 lg:p-10" %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
