<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/partials/head" %>
  </head>

  <body>
    <%= render "shared/flash_alerts" %>
    <%= render "layouts/partials/masquerade" %>

    <div class="bg-white">
      <%= render partial: "layouts/partials/marketing_header" %>

      <main>
        <%= yield %>
      </main>

      <!-- Footer section -->
      <footer class="bg-gray-900">
        <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
          <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
              <%= link_to "Help center", documentation_root_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>

            <div class="px-5 py-2">
              <%= link_to "Terms and Conditions", terms_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>

            <div class="px-5 py-2">
              <%= link_to "Privacy Policy", privacy_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>

            <div class="px-5 py-2">
              <%= link_to "Security", security_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>

            <div class="px-5 py-2">
              <%= link_to "GitHub", "https://github.com/phawk/happi", class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>
          </nav>
          <p class="mt-8 text-center text-base text-gray-400">
            &copy; <%= Time.current.year %> Happi.team
          </p>
        </div>
      </footer>
    </div>

    <%= render partial: "layouts/partials/widget" %>
  </body>
</html>
