<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/partials/head" %>
  </head>

  <body>
    <%= render "shared/flash_alerts" %>
    <div class="bg-white">
      <%= yield(:header) if content_for(:header).present? %>

      <main>
        <%= yield %>
      </main>

      <!-- Footer section -->
      <footer class="mt-24 bg-gray-900 sm:mt-12">
        <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
          <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
              <%= link_to "Terms and Conditions", terms_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>

            <div class="px-5 py-2">
              <%= link_to "Privacy Policy", privacy_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>

            <div class="px-5 py-2">
              <%= link_to "Security", security_path, class: "text-base text-gray-400 hover:text-gray-300" %>
            </div>
          </nav>
          <p class="mt-8 text-center text-base text-gray-400">
            &copy; <%= Time.current.year %> Happi.team
          </p>
        </div>
      </footer>
    </div>

    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/happi-widget/dist/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://unpkg.com/happi-widget/dist/index.css" />
    <script type="text/javascript">
      Happi.init({
        publishableKey: "cDeEoaAhH9ujUdavnb78x2VL",
        <% if user_signed_in? %>
        customerData: "<%= current_user.as_customer_jwt %>",
        <% end %>
        subheading: "Our small team usually reponds the next working day.",
        messagePlaceholder: "",
        submitText: "Get in touch",
        messagePlaceholder: " ",
        iconText: "Ask a question",
        iconBg: "#8B5CF6",
        categories: [
          "Question about the product",
          "Need technical support",
          "Pricing enquiry",
          "General feedback",
        ],
        styles: {
          buttonBgColor: "#8B5CF6",
          buttonTextColor: "#fff",
        }
      })
    </script>
  </body>
</html>
